# Model Performance Transformations

Lets practice some basic data transformation for ML performance enhancement

In [1]:
# Imports

import numpy as np
import pandas as pd
from sklearn.preprocessing import RobustScaler, StandardScaler
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import roc_auc_score

In [2]:
# Categorical data analyser

def cat_var(df, cols):
    '''
    Return: a Pandas dataframe object with the following columns:
        - "categorical_variable" => every categorical variable include as an input parameter (string).
        - "number_of_possible_values" => the amount of unique values that can take a given categorical variable (integer).
        - "values" => a list with the posible unique values for every categorical variable (list).

    Input parameters:
        - df -> Pandas dataframe object: a dataframe with categorical variables.
        - cols -> list object: a list with the name (string) of every categorical variable to analyse.
    '''
    cat_list = []
    for col in cols:
        cat = df[col].unique()
        cat_num = len(cat)
        cat_dict = {"categorical_variable":col,
                    "number_of_possible_values":cat_num,
                    "values":cat}
        cat_list.append(cat_dict)
    df = pd.DataFrame(cat_list).sort_values(by="number_of_possible_values", ascending=False)
    return df.reset_index(drop=True)

## Scaling

Some ML algorithms have problems performing well whenever the data scale differ greatly between features. In those cases scaling the data is your best option.

- [RobustScaler](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.RobustScaler.html#sklearn.preprocessing.RobustScaler)

- [StandardScaler](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.StandardScaler.html#sklearn.preprocessing.StandardScaler)

Try both options and see what happens with performance (i.e.: AUC).

<img src="../images/scaling.png" alt="Drawing" style="width: 500px;"/>

In [3]:
# Weather dataset (https://www.kaggle.com/jsphyg/weather-dataset-rattle-package)

weather = pd.read_csv('../data/weatherAUS.csv')
print(weather.shape)
weather.head()

(145460, 23)

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No

In [4]:
# Uluru weather (numerical features)

weather = weather[weather['Location'].isin(['Uluru'])].reset_index(drop=True) # Se filtran los datos para que solo incluyan registros donde la ubicación ('Location') sea 'Uluru'.
weather = weather[weather['RainToday'].isin(['No','Yes'])].reset_index(drop=True) #Se filtran los datos para que solo incluyan registros donde 'RainToday' sea 'No' o 'Yes' y reinicia los índices del DataFrame resultante, eliminando el índice anterior
weather = weather[weather['RainTomorrow'].isin(['No','Yes'])] # Se filtran los datos para que solo incluyan registros donde 'RainTomorrow' sea 'No' o 'Yes' 
weather = weather[['MinTemp',
                   'MaxTemp',
                   'Rainfall',
                   'WindSpeed9am',
                   'WindSpeed3pm',
                   'Humidity9am',
                   'Humidity3pm',
                   'Pressure9am',
                   'Pressure3pm',
                   'Temp9am',
                   'Temp3pm',
                   'RainTomorrow']] # Se seleccionan solo las columnas especificadas del DataFrame 
weather = weather.dropna().reset_index(drop=True) # Se eliminan las filas que contienen valores nulos en cualquiera de las columnas seleccionadas y reinicia los índices del DataFrame resultante.
col_weather = list(weather.columns) # Se obtiene una lista de los nombres de las columnas del DataFrame y se imprime 
print(col_weather)
print(weather.shape)
print(weather.describe())
weather.head()

['MinTemp', 'MaxTemp', 'Rainfall', 'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am', 'Humidity3pm', 'Pressure9am', 'Pressure3pm', 'Temp9am', 'Temp3pm', 'RainTomorrow']
(1479, 12)
           MinTemp      MaxTemp     Rainfall  WindSpeed9am  WindSpeed3pm  \
count  1479.000000  1479.000000  1479.000000   1479.000000   1479.000000
mean     14.368627    30.402299     0.716700     17.613928     17.050710
std       7.432857     7.624058     4.208585      7.887082      6.893016
min      -1.900000    11.300000     0.000000      0.000000      0.000000
25%       8.100000    23.800000     0.000000     11.000000     11.000000
50%      14.900000    31.200000     0.000000     17.000000     17.000000
75%      20.800000    37.100000     0.000000     24.000000     22.000000
max      31.000000    44.400000    83.800000     41.000000     48.000000

       Humidity9am  Humidity3pm  Pressure9am  Pressure3pm      Temp9am  \
count  1479.000000  1479.000000  1479.000000  1479.000000  1479.000000
mean     42.153482    23.794456  1017.130967  1013.321433    20.989926
std      21.704719    16.236320     6.431030     6.467590     7.748379
min       5.000000     3.000000   994.600000   989.200000     5.000000
25%      25.000000    13.000000  1012.300000  1008.500000    14.200000
50%      38.000000    20.000000  1017.200000  1013.200000    21.400000
75%      57.000000    30.000000  1021.900000  1017.900000    27.800000
max     100.000000   100.000000  1033.400000  1029.800000    36.400000

           Temp3pm
count  1479.000000
mean     29.075997
std       7.364791
min       8.500000
25%      22.850000
50%      29.800000
75%      35.500000
max      42.600000

,MinTemp,MaxTemp,Rainfall,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Temp9am,Temp3pm,RainTomorrow
0,19.7,30.0,0.8,30.0,24.0,76.0,54.0,1010.6,1007.5,21.7,28.4,No
1,21.6,33.1,0.0,22.0,11.0,44.0,33.0,1010.5,1006.5,24.6,31.3,No
2,21.3,36.1,0.0,24.0,13.0,39.0,27.0,1006.9,1002.7,27.6,34.5,No
3,22.9,37.7,0.0,28.0,13.0,35.0,22.0,1006.0,1002.1,28.7,35.4,No
4,24.0,39.0,0.0,20.0,19.0,33.0,21.0,1006.9,1003.5,29.9,37.3,No

In [5]:
# Features + target

X = weather[['MinTemp',
          'MaxTemp',
          'Rainfall',
          'WindSpeed9am',
          'WindSpeed3pm',
          'Humidity9am',
          'Humidity3pm',
          'Pressure9am',
          'Pressure3pm',
          'Temp9am',
          'Temp3pm']]
y = pd.get_dummies(weather['RainTomorrow'], drop_first=True)['Yes']
print(X.shape,y.shape)

(1479, 11) (1479,)

In [6]:
# Train + test

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
print(f"X_train: {X_train.shape}, X_test: {X_test.shape}, y_train: {y_train.shape}, y_test: {y_test.shape}")
print(f"X_train: {type(X_train)}, X_test: {type(X_test)}, y_train: {type(y_train)}, y_test: {type(y_test)}")

X_train: (1183, 11), X_test: (296, 11), y_train: (1183,), y_test: (296,)
X_train: <class 'pandas.core.frame.DataFrame'>, X_test: <class 'pandas.core.frame.DataFrame'>, y_train: <class 'pandas.core.series.Series'>, y_test: <class 'pandas.core.series.Series'>

In [17]:
X_train.head()

,MinTemp,MaxTemp,Rainfall,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Temp9am,Temp3pm
405,8.0,20.5,0.0,20.0,24.0,65.0,42.0,1026.3,1023.5,12.7,19.1
478,0.9,19.6,0.0,9.0,11.0,60.0,23.0,1024.2,1020.9,9.6,18.5
598,27.3,42.9,0.0,9.0,17.0,23.0,14.0,1006.1,1001.9,34.6,39.7
1178,1.0,19.2,0.0,19.0,19.0,58.0,28.0,1024.2,1020.2,9.9,17.3
528,19.9,38.3,0.0,33.0,22.0,12.0,8.0,1009.7,1008.4,32.2,36.3

In [19]:
X_train_scaled

array([[-0.86146698, -1.29121338, -0.17296414, ...,  1.55579759,
        -1.06564358, -1.34723461],
       [-1.82158264, -1.40917657, -0.17296414, ...,  1.1574357 ,
        -1.46620883, -1.42860035],
       [ 1.74842487,  1.6447595 , -0.17296414, ..., -1.75367044,
         1.76415606,  1.44632245],
       ...,
       [-1.10487658, -0.1640095 , -0.17296414, ...,  0.43731997,
        -0.62631396, -0.23523617],
       [-1.28067241, -1.26499933, -0.17296414, ...,  1.61708404,
        -1.37575861, -1.25230791],
       [-1.3753317 , -1.98588553, -0.12822943, ...,  1.46386792,
        -1.6341878 , -1.98459957]])

In [16]:
# Scaling

scaler = StandardScaler() # Inicializar del escalador

X_train_scaled = scaler.fit_transform(X_train) # Ajuste y transformación del escalador en el conjunto de entrenamiento

X_test_scaled = scaler.fit_transform(X_test)  # Transformación del conjunto de prueba

print(X_train_scaled.shape, X_test_scaled.shape) # Verificación de las formas de los conjuntos escalados

(1183, 11) (296, 11)

/Users/paksivatkinavaleria/anaconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
/Users/paksivatkinavaleria/anaconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/Users/paksivatkinavaleria/anaconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
/Users/paksivatkinavaleria/anaconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
/Users/paksivatkinavaleria/anaconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/Users/paksivatkinavaleria/anaconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
/Users/paksivatkinavaleria/anaconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
/Users/paksivatkinavaleria/anaconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/Users/paksivatkinavaleria/anaconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
/Users/paksivatkinavaleria/anaconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
/Users/paksivatkinavaleria/anaconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/Users/paksivatkinavaleria/anaconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):

In [12]:
# Linear model

linear_model = LogisticRegression(max_iter=1000)
linear_param = linear_model.fit(X_train_scaled, y_train)
linear_pred = linear_model.predict(X_test_scaled)
linear_auc = roc_auc_score(y_test, linear_pred) # El AUC proporciona una medida del rendimiento del modelo; un valor de 0.5 indica un modelo no mejor que el azar, mientras que un valor de 1.0 indica un modelo perfecto
print(f"Linear model AUC is: {linear_auc}")

Linear model AUC is: 0.6787953638609159

In [13]:
# Ensemble model

ensemble_model = RandomForestClassifier()
ensemble_param = ensemble_model.fit(X_train_scaled, y_train) # Entrenamiento del modelo 
ensemble_pred = ensemble_model.predict(X_test_scaled) #Predicción en el conjunto de prueba
ensemble_auc = roc_auc_score(y_test, ensemble_pred) # Cálculo del AUC
print(f"Linear model AUC is: {ensemble_auc}")

Linear model AUC is: 0.6715751472544176

---

Another scaling method

In [21]:
# Scaling

robust_scaler = RobustScaler()

X_train_scaled_robust = robust_scaler.fit_transform(X_train)

X_test_scaled_robust = robust_scaler.fit_transform(X_test)

print(X_train_scaled_robust.shape, X_test_scaled_robust.shape)

(1183, 11) (296, 11)

/Users/paksivatkinavaleria/anaconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
/Users/paksivatkinavaleria/anaconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/Users/paksivatkinavaleria/anaconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
/Users/paksivatkinavaleria/anaconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
/Users/paksivatkinavaleria/anaconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/Users/paksivatkinavaleria/anaconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
/Users/paksivatkinavaleria/anaconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
/Users/paksivatkinavaleria/anaconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/Users/paksivatkinavaleria/anaconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
/Users/paksivatkinavaleria/anaconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
/Users/paksivatkinavaleria/anaconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/Users/paksivatkinavaleria/anaconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):

In [22]:
# Linear model

linear_model = LogisticRegression(max_iter=1000)
linear_param = linear_model.fit(X_train_scaled_robust, y_train)
linear_pred = linear_model.predict(X_test_scaled_robust)
linear_auc = roc_auc_score(y_test, linear_pred) # El AUC proporciona una medida del rendimiento del modelo; un valor de 0.5 indica un modelo no mejor que el azar, mientras que un valor de 1.0 indica un modelo perfecto
print(f"Linear model AUC is: {linear_auc}")

Linear model AUC is: 0.6542846285388563

In [23]:
# Ensemble model

ensemble_model = RandomForestClassifier()
ensemble_param = ensemble_model.fit(X_train_scaled_robust, y_train) # Entrenamiento del modelo 
ensemble_pred = ensemble_model.predict(X_test_scaled_robust) #Predicción en el conjunto de prueba
ensemble_auc = roc_auc_score(y_test, ensemble_pred) # Cálculo del AUC
print(f"Linear model AUC is: {ensemble_auc}")

Linear model AUC is: 0.6207486224586737

## Enconding

ML algorithms do not support categorical data. Therefore you need to find a way to transform categorical data into numerical. You must compare the results using both techniques: __One Hot Encoding__ or __Label Encoding__

- [OneHotEncoder](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.OneHotEncoder.html#sklearn.preprocessing.OneHotEncoder)

- [LabelEncoder](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.LabelEncoder.html#sklearn.preprocessing.LabelEncoder)

<img src="../images/encoding.png" alt="Drawing" style="width: 500px;"/>

In [24]:
# Mushrooms dataset (https://www.kaggle.com/uciml/mushroom-classification)

mushrooms = pd.read_csv('../data/mushrooms.csv')
col_mushrooms = list(mushrooms.columns)
print(mushrooms.shape)
mushrooms.head()

(8124, 23)

,class,cap-shape,cap-surface,cap-color,bruises,odor,gill-attachment,gill-spacing,gill-size,gill-color,...,stalk-surface-below-ring,stalk-color-above-ring,stalk-color-below-ring,veil-type,veil-color,ring-number,ring-type,spore-print-color,population,habitat
0,p,x,s,n,t,p,f,c,n,k,...,s,w,w,p,w,o,p,k,s,u
1,e,x,s,y,t,a,f,c,b,k,...,s,w,w,p,w,o,p,n,n,g
2,e,b,s,w,t,l,f,c,b,n,...,s,w,w,p,w,o,p,n,n,m
3,p,x,y,w,t,p,f,c,n,n,...,s,w,w,p,w,o,p,k,s,u
4,e,x,s,g,f,n,f,w,b,k,...,s,w,w,p,w,o,e,n,a,g

In [49]:
mushrooms.describe()

,class,cap-shape,cap-surface,cap-color,bruises,odor,gill-attachment,gill-spacing,gill-size,gill-color,...,stalk-surface-below-ring,stalk-color-above-ring,stalk-color-below-ring,veil-type,veil-color,ring-number,ring-type,spore-print-color,population,habitat
count,8124,8124,8124,8124,8124,8124,8124,8124,8124,8124,...,8124,8124,8124,8124,8124,8124,8124,8124,8124,8124
unique,2,6,4,10,2,9,2,2,2,12,...,4,9,9,1,4,3,5,9,6,7
top,e,x,y,n,f,n,f,c,b,b,...,s,w,w,p,w,o,p,w,v,d
freq,4208,3656,3244,2284,4748,3528,7914,6812,5612,1728,...,4936,4464,4384,8124,7924,7488,3968,2388,4040,3148

In [26]:
# Features analysis

cat_mushrooms = cat_var(mushrooms, col_mushrooms)
cat_mushrooms

'\nClass: edible=e, poisonous=p\n\n'

In [28]:
cat_mushrooms

''' 
Class: edible=e, poisonous=p

'''

,categorical_variable,number_of_possible_values,values
0,gill-color,12,"[k, n, g, p, w, h, u, e, b, r, y, o]"
1,cap-color,10,"[n, y, w, g, e, p, b, u, c, r]"
2,spore-print-color,9,"[k, n, u, h, w, r, o, y, b]"
3,odor,9,"[p, a, l, n, f, c, y, s, m]"
4,stalk-color-below-ring,9,"[w, p, g, b, n, e, y, o, c]"
5,stalk-color-above-ring,9,"[w, g, p, n, b, e, o, c, y]"
6,habitat,7,"[u, g, m, d, p, w, l]"
7,cap-shape,6,"[x, b, s, f, k, c]"
8,population,6,"[s, n, a, v, y, c]"
9,ring-type,5,"[p, e, l, f, n]"
10,stalk-root,5,"[e, c, b, r, ?]"
11,stalk-surface-above-ring,4,"[s, f, k, y]"
12,stalk-surface-below-ring,4,"[s, f, y, k]"
13,veil-color,4,"[w, n, o, y]"
14,cap-surface,4,"[s, y, f, g]"
15,ring-number,3,"[o, t, n]"
16,stalk-shape,2,"[e, t]"
17,gill-size,2,"[n, b]"
18,gill-spacing,2,"[c, w]"
19,gill-attachment,2,"[f, a]"
20,bruises,2,"[t, f]"
21,class,2,"[p, e]"
22,veil-type,1,[p]

In [29]:
# Features + target (encoding). IMPORTANT: you may pick any of the 2-labeled features as you target (choose wisely!!!)

X = mushrooms.drop('class', axis=1)
y = mushrooms['class']

# Codificar características categóricas
X_encoded = pd.get_dummies(X, drop_first=True)

# Codificar la variable objetivo (comestible o venenoso)
y_encoded = pd.get_dummies(y, drop_first=True)['p']

print(X_encoded.shape)
print(y_encoded.shape)

(8124, 95)
(8124,)

In [47]:
X

,cap-shape,cap-surface,cap-color,bruises,odor,gill-attachment,gill-spacing,gill-size,gill-color,stalk-shape,...,stalk-surface-below-ring,stalk-color-above-ring,stalk-color-below-ring,veil-type,veil-color,ring-number,ring-type,spore-print-color,population,habitat
0,x,s,n,t,p,f,c,n,k,e,...,s,w,w,p,w,o,p,k,s,u
1,x,s,y,t,a,f,c,b,k,e,...,s,w,w,p,w,o,p,n,n,g
2,b,s,w,t,l,f,c,b,n,e,...,s,w,w,p,w,o,p,n,n,m
3,x,y,w,t,p,f,c,n,n,e,...,s,w,w,p,w,o,p,k,s,u
4,x,s,g,f,n,f,w,b,k,t,...,s,w,w,p,w,o,e,n,a,g
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8119,k,s,n,f,n,a,c,b,y,e,...,s,o,o,p,o,o,p,b,c,l
8120,x,s,n,f,n,a,c,b,y,e,...,s,o,o,p,n,o,p,b,v,l
8121,f,s,n,f,n,a,c,b,n,e,...,s,o,o,p,o,o,p,b,c,l
8122,k,y,n,f,y,f,c,n,b,t,...,k,w,w,p,w,o,e,w,v,l
8123,x,s,n,f,n,a,c,b,y,e,...,s,o,o,p,o,o,p,o,c,l

In [50]:
X_encoded

,cap-shape_c,cap-shape_f,cap-shape_k,cap-shape_s,cap-shape_x,cap-surface_g,cap-surface_s,cap-surface_y,cap-color_c,cap-color_e,...,population_n,population_s,population_v,population_y,habitat_g,habitat_l,habitat_m,habitat_p,habitat_u,habitat_w
0,False,False,False,False,True,False,True,False,False,False,...,False,True,False,False,False,False,False,False,True,False
1,False,False,False,False,True,False,True,False,False,False,...,True,False,False,False,True,False,False,False,False,False
2,False,False,False,False,False,False,True,False,False,False,...,True,False,False,False,False,False,True,False,False,False
3,False,False,False,False,True,False,False,True,False,False,...,False,True,False,False,False,False,False,False,True,False
4,False,False,False,False,True,False,True,False,False,False,...,False,False,False,False,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8119,False,False,True,False,False,False,True,False,False,False,...,False,False,False,False,False,True,False,False,False,False
8120,False,False,False,False,True,False,True,False,False,False,...,False,False,True,False,False,True,False,False,False,False
8121,False,True,False,False,False,False,True,False,False,False,...,False,False,False,False,False,True,False,False,False,False
8122,False,False,True,False,False,False,False,True,False,False,...,False,False,True,False,False,True,False,False,False,False
8123,False,False,False,False,True,False,True,False,False,False,...,False,False,False,False,False,True,False,False,False,False

In [51]:
# Train + test
X_train, X_test, y_train, y_test = train_test_split(X_encoded, y_encoded, test_size=0.2, random_state=42)
print(f"X_train: {X_train.shape}, X_test: {X_test.shape}, y_train: {y_train.shape}, y_test: {y_test.shape}")
print(f"X_train: {type(X_train)}, X_test: {type(X_test)}, y_train: {type(y_train)}, y_test: {type(y_test)}")

X_train: (6499, 95), X_test: (1625, 95), y_train: (6499,), y_test: (1625,)
X_train: <class 'pandas.core.frame.DataFrame'>, X_test: <class 'pandas.core.frame.DataFrame'>, y_train: <class 'pandas.core.series.Series'>, y_test: <class 'pandas.core.series.Series'>

In [55]:
# Support Vector Classifier

from sklearn.svm import SVC

# Inicialización y entrenamiento del modelo de SVC
svc_model = SVC(probability=True, random_state=42)
svc_model.fit(X_train, y_train)

# Predicción en el conjunto de prueba
svc_pred = svc_model.predict(X_test)

# Cálculo del AUC
svc_auc = roc_auc_score(y_test, svc_pred)
print(f"SVC model AUC is: {svc_auc}")

/Users/paksivatkinavaleria/anaconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
/Users/paksivatkinavaleria/anaconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():

SVC model AUC is: 1.0

In [54]:
# Ensemble model

ensemble_model = RandomForestClassifier()
ensemble_param = ensemble_model.fit(X_train, y_train)
ensemble_pred = ensemble_model.predict(X_test)
ensemble_auc = roc_auc_score(y_test, ensemble_pred)
print(f"Linear model AUC is: {ensemble_auc}")

/Users/paksivatkinavaleria/anaconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():

Linear model AUC is: 1.0

/Users/paksivatkinavaleria/anaconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():

---

## Bonus

Now that you can grasp the potential of pre-processing your data...what would you do about the following dataset?

<img src="../images/bonus.jpg" alt="Drawing" style="width: 500px;"/>

In [71]:
# Netflix dataset (https://www.kaggle.com/shivamb/netflix-shows)

netflix = pd.read_csv('../data/netflix_titles.csv')
col_netflix = list(netflix.columns)
print(netflix.shape)
netflix.head()

(7787, 12)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...

EDA

In [72]:
print(netflix.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7787 entries, 0 to 7786
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       7787 non-null   object
 1   type          7787 non-null   object
 2   title         7787 non-null   object
 3   director      5398 non-null   object
 4   cast          7069 non-null   object
 5   country       7280 non-null   object
 6   date_added    7777 non-null   object
 7   release_year  7787 non-null   int64
 8   rating        7780 non-null   object
 9   duration      7787 non-null   object
 10  listed_in     7787 non-null   object
 11  description   7787 non-null   object
dtypes: int64(1), object(11)
memory usage: 730.2+ KB
None

In [73]:
print(netflix.isnull().sum())

show_id            0
type               0
title              0
director        2389
cast             718
country          507
date_added        10
release_year       0
rating             7
duration           0
listed_in          0
description        0
dtype: int64

In [85]:
len(netflix['cast'].unique())

6817

Limpieza de datos

In [75]:
netflix.drop(columns=['director'], inplace=True)

In [77]:
netflix.dropna(subset=['date_added', 'rating'], inplace=True) # quitar por completo las filas con NaN

In [78]:
netflix['cast'] = netflix['cast'].fillna(netflix['cast'].mode()[0]) # rellenar NaN con 0

In [79]:
netflix['country'] = netflix['cast'].fillna(netflix['cast'].mode()[0]) # rellenar NaN con 0

In [80]:
netflix.head()

,show_id,type,title,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,"João Miguel, Bianca Comparato, Michel Gomes, R...","João Miguel, Bianca Comparato, Michel Gomes, R...","August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,7:19,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...","Demián Bichir, Héctor Bonilla, Oscar Serrano, ...","December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...","Tedd Chan, Stella Chung, Henley Hii, Lawrence ...","December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,"Elijah Wood, John C. Reilly, Jennifer Connelly...","Elijah Wood, John C. Reilly, Jennifer Connelly...","November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...","Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...","January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...

In [84]:
netflix.title.unique()

array(['3%', '7:19', '23:59', ..., 'Zulu Man in Japan',
       "Zumbo's Just Desserts", "ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS"],
      dtype=object)

In [87]:
netflix['listed_in'].unique()

array(['International TV Shows, TV Dramas, TV Sci-Fi & Fantasy',
       'Dramas, International Movies',
       'Horror Movies, International Movies',
       'Action & Adventure, Independent Movies, Sci-Fi & Fantasy',
       'Dramas', 'International TV Shows, TV Dramas, TV Mysteries',
       'Horror Movies, International Movies, Thrillers',
       'Dramas, Thrillers',
       'Crime TV Shows, International TV Shows, TV Dramas',
       'Crime TV Shows, Docuseries, International TV Shows',
       'Documentaries, International Movies, Sports Movies',
       'Independent Movies, Sci-Fi & Fantasy, Thrillers',
       'Dramas, International Movies, Thrillers',
       'International TV Shows, TV Dramas',
       'Comedies, Dramas, Independent Movies', 'Sports Movies',
       'Dramas, Independent Movies, International Movies',
       'Action & Adventure, Dramas, International Movies',
       'Anime Series, International TV Shows', 'Documentaries',
       'Reality TV', 'Documentaries, International Movies', 'TV Comedies',
       'Dramas, International Movies, Romantic Movies', 'Comedies',
       'Comedies, Romantic Movies', 'Documentaries, Sports Movies',
       'Comedies, Dramas, International Movies',
       'International TV Shows, Romantic TV Shows, TV Comedies',
       'Comedies, International Movies',
       'Action & Adventure, Sci-Fi & Fantasy', 'Dramas, Romantic Movies',
       'Dramas, Romantic Movies, Sports Movies',
       'Comedies, International Movies, Romantic Movies',
       'Action & Adventure',
       'International TV Shows, Romantic TV Shows, TV Dramas',
       'Docuseries, Science & Nature TV',
       'Dramas, International Movies, Sports Movies', 'Movies',
       'British TV Shows, International TV Shows, Reality TV',
       'Dramas, Independent Movies, Sports Movies',
       'International TV Shows, Korean TV Shows, Romantic TV Shows',
       'Horror Movies, Independent Movies, Thrillers',
       'Crime TV Shows, TV Dramas, TV Mysteries',
       'Crime TV Shows, Docuseries', 'Horror Movies, Thrillers',
       'Action & Adventure, International Movies',
       'Horror Movies, Independent Movies',
       'Documentaries, Music & Musicals',
       'International Movies, Music & Musicals', 'Sci-Fi & Fantasy',
       'Dramas, Independent Movies', 'British TV Shows, Reality TV',
       'Action & Adventure, Comedies, International Movies',
       'Comedies, Dramas', 'Dramas, LGBTQ Movies',
       'Documentaries, Faith & Spirituality',
       'Action & Adventure, Comedies',
       "Kids' TV, TV Action & Adventure, TV Sci-Fi & Fantasy",
       'International Movies, Thrillers', "Kids' TV",
       'International TV Shows, Romantic TV Shows, Spanish-Language TV Shows',
       'Children & Family Movies, Comedies', 'Comedies, LGBTQ Movies',
       'Comedies, Dramas, Romantic Movies', 'Action & Adventure, Dramas',
       'Dramas, Independent Movies, Romantic Movies',
       'Comedies, Independent Movies, Thrillers', 'TV Shows',
       'Docuseries', 'Comedies, International Movies, Music & Musicals',
       'Docuseries, International TV Shows, Science & Nature TV',
       'British TV Shows, Docuseries, Science & Nature TV',
       'Children & Family Movies, Dramas, Sports Movies',
       'Children & Family Movies', 'Dramas, Sci-Fi & Fantasy',
       'International TV Shows, TV Comedies, TV Dramas',
       'Action & Adventure, Classic Movies, Dramas',
       'Children & Family Movies, Dramas',
       'Action & Adventure, International Movies, Romantic Movies',
       'Children & Family Movies, Dramas, Romantic Movies',
       'Children & Family Movies, Comedies, Music & Musicals',
       'Classic Movies, Cult Movies, Dramas',
       'Action & Adventure, International Movies, Sci-Fi & Fantasy',
       'Comedies, Independent Movies', 'Comedies, Horror Movies',
       'Children & Family Movies, Comedies, Romantic Movies',
       'International TV Shows, TV Dramas, TV Horror', 'Thrillers',
       'Stand-Up Comedy & Talk Shows, TV Comedies',
       'International TV Shows, Romantic TV Shows, Teen TV Shows',
       'Crime TV Shows, International TV Shows, Korean TV Shows',
       'Comedies, International Movies, Sports Movies',
       'Dramas, LGBTQ Movies, Romantic Movies', 'Comedies, Cult Movies',
       'Dramas, Independent Movies, LGBTQ Movies',
       'International TV Shows, Reality TV', 'Stand-Up Comedy',
       'Documentaries, LGBTQ Movies',
       "Kids' TV, TV Action & Adventure, TV Comedies",
       'Anime Features, International Movies',
       'Music & Musicals, Romantic Movies', 'Comedies, Music & Musicals',
       'International TV Shows, TV Comedies',
       'International Movies, Romantic Movies',
       'Anime Features, Children & Family Movies, International Movies',
       'TV Dramas', 'Horror Movies',
       'Action & Adventure, Children & Family Movies, Independent Movies',
       'Dramas, International Movies, Music & Musicals',
       'Comedies, International Movies, Sci-Fi & Fantasy',
       'International TV Shows, Korean TV Shows, Stand-Up Comedy & Talk Shows',
       'Docuseries, Science & Nature TV, TV Comedies',
       'Dramas, Sports Movies',
       'Dramas, Music & Musicals, Romantic Movies',
       'Children & Family Movies, Comedies, International Movies',
       'Action & Adventure, Documentaries, International Movies',
       'Comedies, International Movies, Thrillers',
       'Action & Adventure, Dramas, Romantic Movies',
       'Horror Movies, Independent Movies, International Movies',
       'Dramas, Independent Movies, Sci-Fi & Fantasy',
       'International Movies, Sci-Fi & Fantasy',
       'Docuseries, Reality TV, Science & Nature TV',
       'British TV Shows, Docuseries, International TV Shows',
       'Docuseries, International TV Shows',
       'British TV Shows, International TV Shows, TV Comedies',
       'Action & Adventure, Horror Movies',
       'British TV Shows, Reality TV, Romantic TV Shows',
       'Crime TV Shows, International TV Shows, TV Action & Adventure',
       'International TV Shows, Reality TV, Romantic TV Shows',
       'International Movies, Music & Musicals, Romantic Movies',
       'TV Comedies, TV Dramas',
       'Anime Series, Crime TV Shows, International TV Shows',
       "Kids' TV, TV Comedies, TV Dramas",
       'Action & Adventure, Comedies, Dramas',
       'Documentaries, International Movies, Music & Musicals',
       "Kids' TV, TV Comedies",
       'Classic Movies, Dramas, International Movies',
       'Comedies, Independent Movies, International Movies',
       'Classic Movies, Comedies, Dramas',
       'International TV Shows, TV Action & Adventure, TV Mysteries',
       'Comedies, International Movies, LGBTQ Movies',
       'Children & Family Movies, Comedies, Sci-Fi & Fantasy',
       'TV Dramas, Teen TV Shows',
       'Children & Family Movies, Independent Movies',
       'International TV Shows, Spanish-Language TV Shows, TV Comedies',
       'Crime TV Shows, TV Action & Adventure, TV Dramas',
       'Action & Adventure, Anime Features, International Movies',
       'Action & Adventure, Classic Movies, Comedies',
       'Crime TV Shows, TV Dramas',
       'TV Horror, TV Mysteries, TV Thrillers', 'TV Dramas, TV Thrillers',
       'Comedies, Cult Movies, Dramas',
       'Crime TV Shows, TV Comedies, Teen TV Shows',
       'Dramas, Faith & Spirituality', 'Comedies, Dramas, LGBTQ Movies',
       'Action & Adventure, Comedies, Cult Movies',
       'International TV Shows, TV Action & Adventure, TV Comedies',
       'Dramas, Independent Movies, Music & Musicals',
       'International TV Shows, TV Horror, TV Thrillers',
       'International TV Shows, TV Horror, TV Mysteries',
       'International TV Shows, TV Dramas, Teen TV Shows',
       'Anime Series, International TV Shows, Teen TV Shows',
       'Dramas, Sci-Fi & Fantasy, Thrillers',
       'TV Action & Adventure, TV Dramas, TV Mysteries',
       'Crime TV Shows, International TV Shows, TV Comedies',
       'Action & Adventure, Comedies, Sci-Fi & Fantasy',
       "Anime Series, Kids' TV",
       'Crime TV Shows, International TV Shows, Spanish-Language TV Shows',
       'Horror Movies, Sci-Fi & Fantasy, Thrillers',
       'International TV Shows, Korean TV Shows, TV Dramas',
       'Stand-Up Comedy & Talk Shows',
       'International Movies, Sci-Fi & Fantasy, Thrillers',
       'Crime TV Shows, TV Action & Adventure',
       'International TV Shows, Korean TV Shows, TV Action & Adventure',
       'TV Action & Adventure, TV Comedies, TV Horror',
       'International TV Shows, Romantic TV Shows',
       "Crime TV Shows, Kids' TV, TV Comedies",
       'TV Comedies, TV Dramas, Teen TV Shows',
       'Docuseries, International TV Shows, Reality TV',
       "Classic & Cult TV, Kids' TV, TV Action & Adventure",
       'Horror Movies, Sci-Fi & Fantasy',
       'Romantic TV Shows, TV Dramas, TV Sci-Fi & Fantasy',
       'Dramas, International Movies, Sci-Fi & Fantasy',
       'Children & Family Movies, Sports Movies',
       'Dramas, Independent Movies, Thrillers',
       'Independent Movies, International Movies, Thrillers',
       'British TV Shows, TV Comedies',
       'International TV Shows, Spanish-Language TV Shows, TV Dramas',
       'Action & Adventure, Comedies, Independent Movies',
       'International TV Shows, TV Action & Adventure, TV Dramas',
       'Children & Family Movies, Music & Musicals', 'Music & Musicals',
       'Action & Adventure, International Movies, Music & Musicals',
       'Comedies, Sports Movies', 'Classic Movies, Thrillers',
       'Docuseries, Reality TV', 'Crime TV Shows, TV Dramas, TV Horror',
       'Crime TV Shows, TV Comedies, TV Dramas',
       'British TV Shows, Docuseries, Reality TV',
       'Reality TV, Science & Nature TV, TV Action & Adventure',
       'Children & Family Movies, Documentaries, International Movies',
       'Crime TV Shows, Romantic TV Shows, TV Dramas',
       'British TV Shows, Docuseries',
       'Documentaries, LGBTQ Movies, Music & Musicals',
       'Romantic TV Shows, TV Dramas', 'Independent Movies, Thrillers',
       'International TV Shows, TV Action & Adventure, TV Horror',
       'Children & Family Movies, Documentaries, Sports Movies',
       'Stand-Up Comedy & Talk Shows, TV Mysteries, TV Sci-Fi & Fantasy',
       'International TV Shows, Reality TV, TV Comedies',
       'Dramas, International Movies, LGBTQ Movies',
       'Action & Adventure, Dramas, Independent Movies',
       'British TV Shows, International TV Shows, TV Dramas',
       'TV Action & Adventure, TV Dramas, TV Sci-Fi & Fantasy',
       'TV Action & Adventure, TV Dramas, TV Horror',
       'Action & Adventure, Anime Features, Sci-Fi & Fantasy',
       'Anime Series', 'TV Dramas, TV Mysteries, TV Thrillers',
       'Music & Musicals, Stand-Up Comedy',
       'Docuseries, International TV Shows, Spanish-Language TV Shows',
       'Crime TV Shows, International TV Shows, Reality TV',
       "British TV Shows, Kids' TV",
       'Docuseries, Spanish-Language TV Shows',
       'Crime TV Shows, TV Dramas, TV Thrillers',
       'Documentaries, International Movies, LGBTQ Movies',
       'British TV Shows, Crime TV Shows, International TV Shows',
       'Action & Adventure, Independent Movies',
       'Classic Movies, Dramas, Romantic Movies',
       'Crime TV Shows, Romantic TV Shows, Spanish-Language TV Shows',
       'Children & Family Movies, Comedies, Dramas',
       'Cult Movies, Horror Movies', "Kids' TV, TV Thrillers",
       'Classic Movies, Cult Movies, Horror Movies',
       'Anime Series, Crime TV Shows, TV Thrillers',
       'Anime Series, TV Horror, TV Thrillers', 'Classic Movies, Dramas',
       'British TV Shows, Crime TV Shows, Docuseries',
       'Action & Adventure, International Movies, Thrillers',
       'Anime Series, Teen TV Shows',
       'Children & Family Movies, Dramas, International Movies',
       'Dramas, Faith & Spirituality, International Movies',
       'TV Horror, TV Mysteries, Teen TV Shows',
       'Children & Family Movies, Classic Movies',
       'TV Dramas, TV Sci-Fi & Fantasy', 'Reality TV, Teen TV Shows',
       'Docuseries, Reality TV, Teen TV Shows',
       'Classic & Cult TV, TV Comedies',
       'International TV Shows, Korean TV Shows, Reality TV',
       'International TV Shows, Stand-Up Comedy & Talk Shows, TV Comedies',
       'British TV Shows, International TV Shows, Romantic TV Shows',
       'International TV Shows, TV Dramas, TV Thrillers',
       'Anime Features', 'TV Horror, TV Mysteries, TV Sci-Fi & Fantasy',
       'Children & Family Movies, Classic Movies, Comedies',
       'Comedies, Faith & Spirituality, Romantic Movies',
       'Classic Movies, Comedies, International Movies',
       'Action & Adventure, Horror Movies, Sci-Fi & Fantasy',
       'Action & Adventure, Classic Movies',
       'TV Dramas, TV Sci-Fi & Fantasy, TV Thrillers',
       'Comedies, Sci-Fi & Fantasy',
       'Action & Adventure, Cult Movies, Dramas',
       'TV Action & Adventure, TV Dramas', "Kids' TV, Korean TV Shows",
       'Action & Adventure, Independent Movies, International Movies',
       'Dramas, Faith & Spirituality, Independent Movies',
       'Docuseries, TV Comedies',
       'Documentaries, Faith & Spirituality, Music & Musicals',
       'Romantic TV Shows, TV Comedies',
       "Kids' TV, Spanish-Language TV Shows",
       "British TV Shows, Kids' TV, TV Thrillers",
       'Action & Adventure, Romantic Movies',
       'British TV Shows, Classic & Cult TV, TV Comedies',
       'Action & Adventure, Horror Movies, International Movies',
       'Children & Family Movies, Documentaries',
       "British TV Shows, Kids' TV, TV Comedies",
       'Horror Movies, Independent Movies, Sci-Fi & Fantasy',
       'TV Sci-Fi & Fantasy, TV Thrillers',
       'Romantic TV Shows, TV Comedies, TV Dramas',
       'Reality TV, Romantic TV Shows',
       'Classic Movies, Dramas, Independent Movies',
       'Romantic TV Shows, TV Dramas, Teen TV Shows',
       'TV Action & Adventure, TV Sci-Fi & Fantasy',
       'British TV Shows, TV Horror, TV Thrillers',
       'International Movies, Sports Movies', 'International Movies',
       'Anime Series, International TV Shows, TV Horror',
       'International TV Shows',
       'Dramas, Music & Musicals, Sports Movies',
       'International TV Shows, Spanish-Language TV Shows, TV Action & Adventure',
       'Cult Movies, Dramas, International Movies',
       'TV Action & Adventure, TV Comedies, TV Sci-Fi & Fantasy',
       'Reality TV, Science & Nature TV',
       'Action & Adventure, Anime Features, Children & Family Movies',
       "Kids' TV, TV Action & Adventure",
       'Children & Family Movies, Sci-Fi & Fantasy',
       "Crime TV Shows, Kids' TV",
       'International Movies, Music & Musicals, Thrillers',
       'Crime TV Shows, Spanish-Language TV Shows, TV Action & Adventure',
       "Classic & Cult TV, Kids' TV, Spanish-Language TV Shows",
       'Romantic TV Shows, Spanish-Language TV Shows, TV Dramas',
       'Action & Adventure, Cult Movies, International Movies',
       'Crime TV Shows, Spanish-Language TV Shows, TV Dramas',
       'Action & Adventure, Children & Family Movies, Dramas',
       'Dramas, Romantic Movies, Sci-Fi & Fantasy',
       'Action & Adventure, Dramas, Sci-Fi & Fantasy',
       'International TV Shows, TV Mysteries, TV Thrillers',
       'Anime Series, International TV Shows, TV Thrillers',
       'Horror Movies, International Movies, Sci-Fi & Fantasy',
       'Comedies, Cult Movies, International Movies',
       'Comedies, Music & Musicals, Romantic Movies',
       'Children & Family Movies, Comedies, Faith & Spirituality',
       'Crime TV Shows, Docuseries, TV Mysteries',
       'Crime TV Shows, Docuseries, Science & Nature TV',
       'British TV Shows, Crime TV Shows, TV Dramas',
       'Classic Movies, Comedies, Cult Movies',
       'International Movies, Romantic Movies, Thrillers',
       'Classic Movies, Dramas, Music & Musicals',
       'Cult Movies, Horror Movies, Thrillers',
       'Anime Features, Romantic Movies',
       'Comedies, Dramas, Music & Musicals',
       'Anime Features, International Movies, Romantic Movies',
       'Documentaries, Faith & Spirituality, International Movies',
       'Action & Adventure, Classic Movies, Sci-Fi & Fantasy',
       'International TV Shows, Stand-Up Comedy & Talk Shows',
       "British TV Shows, Kids' TV, TV Dramas",
       'Classic & Cult TV, TV Action & Adventure, TV Horror',
       'Children & Family Movies, Dramas, Faith & Spirituality',
       'TV Action & Adventure, TV Comedies',
       'Action & Adventure, Anime Features, Horror Movies',
       'Crime TV Shows, International TV Shows, Romantic TV Shows',
       'Classic Movies, Comedies, Music & Musicals',
       'Comedies, Horror Movies, International Movies',
       "Kids' TV, Spanish-Language TV Shows, Teen TV Shows",
       'Independent Movies',
       'Crime TV Shows, International TV Shows, TV Mysteries',
       'Action & Adventure, Thrillers',
       "Kids' TV, TV Dramas, Teen TV Shows", "Kids' TV, TV Dramas",
       'Crime TV Shows, TV Action & Adventure, TV Comedies',
       'TV Comedies, Teen TV Shows',
       'Reality TV, TV Horror, TV Thrillers',
       'Documentaries, Horror Movies',
       'Classic & Cult TV, TV Horror, TV Mysteries',
       'Action & Adventure, Cult Movies, Sci-Fi & Fantasy',
       'Anime Series, International TV Shows, Romantic TV Shows',
       'Action & Adventure, Comedies, Romantic Movies',
       'Comedies, Dramas, Faith & Spirituality',
       'Comedies, Faith & Spirituality, International Movies',
       'Romantic Movies', 'Dramas, Horror Movies, Sci-Fi & Fantasy',
       'International TV Shows, Korean TV Shows, TV Comedies',
       'Comedies, Independent Movies, LGBTQ Movies',
       'TV Comedies, TV Dramas, TV Sci-Fi & Fantasy',
       'Dramas, Music & Musicals',
       'Dramas, Faith & Spirituality, Romantic Movies',
       'International TV Shows, TV Action & Adventure, TV Sci-Fi & Fantasy',
       'Reality TV, TV Comedies',
       "Docuseries, Kids' TV, Science & Nature TV",
       'Action & Adventure, Sci-Fi & Fantasy, Thrillers',
       'Action & Adventure, Children & Family Movies, Sci-Fi & Fantasy',
       'Action & Adventure, Children & Family Movies, Classic Movies',
       'Horror Movies, International Movies, Romantic Movies',
       'TV Action & Adventure', 'TV Comedies, TV Dramas, TV Horror',
       'British TV Shows, International TV Shows, Stand-Up Comedy & Talk Shows',
       'Dramas, Music & Musicals, Sci-Fi & Fantasy',
       'Spanish-Language TV Shows, TV Dramas',
       'Documentaries, Stand-Up Comedy',
       'Classic & Cult TV, TV Action & Adventure, TV Dramas',
       'British TV Shows, TV Dramas, TV Sci-Fi & Fantasy',
       'Anime Features, Music & Musicals',
       'International TV Shows, TV Comedies, TV Sci-Fi & Fantasy',
       'Comedies, Independent Movies, Romantic Movies',
       'Comedies, Cult Movies, Horror Movies',
       'Comedies, Cult Movies, Sports Movies',
       'Classic Movies, Documentaries', 'Sci-Fi & Fantasy, Thrillers',
       'Classic & Cult TV, Crime TV Shows, International TV Shows',
       "Kids' TV, Korean TV Shows, TV Comedies",
       'British TV Shows, Romantic TV Shows, TV Dramas',
       'Action & Adventure, Faith & Spirituality, Sci-Fi & Fantasy',
       'TV Dramas, TV Sci-Fi & Fantasy, Teen TV Shows',
       'Action & Adventure, Children & Family Movies',
       'Comedies, Horror Movies, Independent Movies',
       'Action & Adventure, Classic Movies, Cult Movies',
       'TV Dramas, TV Horror, TV Mysteries',
       'International Movies, Romantic Movies, Sci-Fi & Fantasy',
       'Anime Series, Romantic TV Shows, Teen TV Shows',
       'TV Action & Adventure, TV Horror, TV Sci-Fi & Fantasy',
       'Anime Features, Music & Musicals, Sci-Fi & Fantasy',
       'Action & Adventure, Anime Features, Classic Movies',

Workflow

In [ ]:
''' 
Los pasos siguentes son:

1) Convertir las características categóricas en variables numéricas utilizando one-hot encoding o label encoding.
2) Dividir los datos en conjuntos de entrenamiento y prueba
3) Escalar las características para que todas estén en el mismo rango
4) Entrenar un modelo de machine learning. Empezar con un modelo simple como la regresión logística.
5) Evaluar el rendimiento del modelo utilizando métricas apropiadas.
'''

---